<div class="container">

  <div class="row">
    <div class="mt-5">
      <h5 class="p-3 mb-2 bg-secondary text-black">管理者ログイン</h5>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-md-9">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="row form-group mb-3 flex">
        <%= f.label :メールアドレス, class: "col-3 col-form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examle.com" %>
      </div>

      <div class="row form-group md-3 flex">
        <%= f.label :パスワード, class: "col-3 col-form-label"%>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="row col-md-">
        <%= f.submit "ログイン", class: "btn btn-primary px-3 pl-4 pr-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>