<div class="container">

  <div class="row">
    <div class="mt-5">
      <h5 class="p-3 mb-2 bg-light text-dark">管理者ログイン</h5>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-md-9 mt-5">
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>


      <div class="form-group row">
        <%= f.label "メールアドレス", class: "col-sm-3" %>
        <div class="col-sm-9">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examle.com", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label "パスワード", class: "col-sm-3" %>
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="col">
        <div class="action">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>

      <% end %>
    </div>

  </div>
</div>