<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h5 class="p-3 mb-2 bg-light text-dark">注文情報入力</h5>
    </div>
  </div>

  <%= form_with model: @order, url: comfirm_orders_path, local: true do |f| %>
   <div class="row">
     <div class="col-md-4">
      <h5>支払方法</h5>
      <ul>
        <li>
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %>
        </li>
        <li>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method_transfer, "銀行振込" %>
        </li>
      </ul>
     </div>
   </div>

   <div class="row">
      <div class="col-md-4">
        <h5>お届け先</h5>
        <ul>
          <li>
            <%= f.radio_button :address_select, 0, checked: true %>
            <%= f.label "ご自身の住所" %>
          </li>
          <li class="ml-3"><%= current_customer.customer_full_address %></li>
          <li class="ml-3"><%= current_customer.full_name %></li>
        </ul>
      </div>
    </div>

    <% if current_customer.addresses.exists? %>
     <div class="row">
       <div class="col-md-4">
        <ul>
          <li>
            <%= f.radio_button :address_select, 1 %>
            <%= f.label "登録済住所から選択" %>
          </li>
        </ul>
       </div>
     </div>

     <div class="row">
       <div class="col-md-12 ml-3">
         <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
       </div>
     </div>
    <% end %>

  <div class="row">
    <div class="col-md-4">
      <ul>
        <li>
          <%= f.radio_button :address_select, 2 %>
          <%= f.label "新しいお届け先" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ml-3 mt-3">
      <div class="form-group row ml-1">
        <%= f.label "郵便番号(ハイフンなし)", class: "col-form-label col-md-3" %>
        <%= f.text_field :postal_code, :placeholder => "0000000", class: "form-control col-md-3" %>
      </div>

      <div class="from-group row ml-1">
        <%= f.label "住所", class: "col-form-label col-md-3" %>
        <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", class: "form-control col-md-7" %>
      </div>

      <div class="form-group row ml-1">
        <%= f.label "宛名", class: "col-form-label col-md-3" %>
        <%= f.text_field :name, :placeholder => "令和道子", class: "form-control col-md-3" %>
      </div>

      <div class="form-group row">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>